@font-face {
    font-family: 'Taksim typeface';
    src: url('Taksimtypeface.woff2') format('woff2'),
        url('Taksimtypeface.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Taksim typeface alt.';
    src: url('Taksimtypefacealt-Regular.woff2') format('woff2'),
        url('Taksimtypefacealt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Taksim typeface alt.';
    src: url('Taksimtypefacealt-Regular.woff2') format('woff2'),
        url('Taksimtypefacealt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

