@font-face {
    font-family: 'Angela Script';
    src: url('AngelaScript.woff2') format('woff2'),
        url('AngelaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

