@font-face {
    font-family: 'Lucky Fashion';
    src: url('LuckyFashion-Regular.woff2') format('woff2'),
        url('LuckyFashion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucky Fashion Alt';
    src: url('LuckyFashionAlt-Regular.woff2') format('woff2'),
        url('LuckyFashionAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

