@font-face {
    font-family: 'Marseille';
    src: url('MarseilleRegular.woff2') format('woff2'),
        url('MarseilleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

