@font-face {
    font-family: 'Swash Marmoreal';
    src: url('Swash.woff2') format('woff2'),
        url('Swash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marmoreal';
    src: url('Marmoreal.woff2') format('woff2'),
        url('Marmoreal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

