@font-face {
    font-family: 'Rapstar alt.';
    src: url('Rapstaralt-Regular.woff2') format('woff2'),
        url('Rapstaralt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rapstar';
    src: url('Rapstar-Regular.woff2') format('woff2'),
        url('Rapstar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

