@font-face {
    font-family: 'Fresh 2.0';
    src: url('Fresh20-Regular.woff2') format('woff2'),
        url('Fresh20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fresh';
    src: url('Fresh-Regular.woff2') format('woff2'),
        url('Fresh-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

